@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

.container {
  display: flex;
  justify-content: center;
  padding: 13rem 7rem 13rem 8.5rem;
}

.title {
  position: relative;
  font-size: 7.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-decoration: underline;
  writing-mode: vertical-rl;
  margin-right: 10rem;
  text-transform: uppercase;
}

.title::before {
  position: absolute;
  top: -13rem;
  left: 0;
  content: '';
  width: 90%;
  height: 1.6rem;
  background-color: #000;
}

.pictures-container {
  display: flex;
  flex-wrap: wrap;
  width: 85.5rem;
  height: 85.5rem;
}

.picture-box {
  margin: 1.5rem;
  width: 25.5rem;
  height: 25.5rem;
  transition: 0.3s;
}

.picture-box:hover {
  transform: translate(-0.5rem, -0.5rem);
  box-shadow: 1.5rem 1.5rem 0 #000;
  cursor: zoom-in;
}

.picture-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.light-box-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 6rem 0;
  overflow-y: scroll;
}

.photo-info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24rem;
  margin-right: 4rem;
  color: #fff;
}

.photo-info-wrap h3 {
  font-size: 3.6rem;
}

.photo-info-wrap h3 span {
  font-size: 7.2rem;
}

.photo-info-wrap p {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.photo-info-wrap a {
  color: inherit;
  text-decoration: none;
  font-size: 1.6rem;
  font-style: italic;
}

.photo-box {
  position: relative;
  width: auto;
  height: 100%;
  border: 1.5rem solid #fff;
  border-radius: 10px;
}

.photo-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.6rem;
  text-align: center;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}

.close-btn:hover {
  transform: scale(1.1);
  font-size: 2.8rem;
}

.left-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 4.8rem;
  height: 100%;
  font-size: 5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.left-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.right-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 4.8rem;
  height: 100%;
  font-size: 5rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.right-btn :hover {
  background-color: rgba(0, 0, 0, 0.2);
}
